
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
   background-image: url('images/Hero-bg.png');
    background-size: cover;
    background-position: center;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    color: #333;
}

/* Navbar Section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.navbar .logo {
     color: var(--primary-color, #4e47ff);
  text-align: left;
  font-family: "Inter-Black", sans-serif;
  font-size: 34px;
  line-height: 150%;
  font-weight: 900;
  position: relative;
}

.navbar .signup-btn {
    padding: 10px 20px;
    background-color: #4f73ff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.navbar .signup-btn:hover {
  background-color: purple;
}
/* Banner Section */
.banner {
   
    padding: 120px 0;
    text-align: center;
    margin-bottom: 100px;
}

.banner h1 {
    color: #252432;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.stay-focused-btn {
    padding: 12px 30px;
    background-color: #4f73ff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.stay-focused-btn:hover {
  background-color: purple;
}
/* Action Section */
.action {
  
         display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding:  10px 150px 10px 150px;
  background-color: #f4f7fc;
}
.extext{
    color: #252432;
  text-align: left;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  opacity: 50%;
}
.action-left {
    width: 50%;
}

.launch-preview-btn {
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #4f73ff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.launch-preview-btn:hover {
  background-color: purple;
}

.action-right img {
      border-radius: 48px;
  flex-shrink: 0;
  width: 403px;
  height: 328px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 403/328;
}

/* Productive Users Section */


.container {
    margin: 80px 150px 15px 150px;
    background: rgba(78, 71, 255, 0.1);
     border-radius: 24px;
  padding: 50px 80px 50px 80px;
    
    text-align: center;
    box-sizing: border-box;
    align-content: center;
  
}

.header h1 {
    font-size: 30px;
    color:#252432;
    text-align: center;
    margin-bottom: 40px;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.stat-item {
    flex: 1;
    margin: 0 10px;
}

.stat-item h2 {
    font-size: 50px;
    color: #4E47FF;
    font-weight: bold;
}

.stat-p {
     font-size: 14px;
    color: black;
    margin-top: 10px;
    opacity: 50%;
}

/* Reviews Section */
.head{
    padding:50px 0 20px 0;
    margin: top 20px;
    text-align: center;
    font-size: bold;
}
.reviews{
    display: flex;
    padding: 20px 10px ;
}
.review-card,
.review-card * {
  box-sizing: border-box;
  border-radius: 20px;
}
.review-card {
  background: white;
  border-radius:50px;
  border-style: solid;
  border-color:#f4f7fc;
  border-width:30px;
  
  padding:50px;
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-600, 24px);
  align-items: flex-start;
  justify-content:space-between;

  min-width: 200px;
  position: relative;
}
.rating {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-100, 4px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.star {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}

.review-body {
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  border-radius: 20px;
  position: relative;
}
.text-heading {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text-heading2 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 24px);
  line-height: var(--heading-line-height, 120%);
  letter-spacing: var(--heading-letter-spacing, -0.02em);
  font-weight: var(--heading-font-weight, 600);
  position: relative;
}
.text {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text2 {
  color: var(--var-sds-color-text-default-default, #877e7e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 14px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  flex: 1;
}
.avatar-block {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-300, 12px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.avatar {
  border-radius: var(--var-sds-size-radius-full, 9999px);
  flex-shrink: 0;
  width: var(--var-sds-size-icon-large, 40px);
  height: var(--var-sds-size-icon-large, 40px);
  position: relative;
  overflow: hidden;
}
.shape {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  object-fit: cover;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title {
  color: var(--var-sds-color-text-default-secondary, #757575);
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 16px);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.description {
  color: var(--var-sds-color-text-default-tertiary, #b3b3b3);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 13px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


/* Focus Section */
.focus {
    background-color:#ffffff;
    color: rgb(6, 5, 5);
    padding: 20px 20px;
    margin: 0 100px 0 100px;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius:5px;


}

.get-started-btn {
    padding: 12px 30px;
    background-color: #4f73ff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom:20px;
}

  .get-started-btn:hover {
  background-color: purple;

}

.big-img{
  width:70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  margin-bottom: 30px;
  margin-top:0;
}
/* Contact Section */
.contact{
    padding: 20px;
    display: flex;
    color: #f4f7fc;
    background-color:#f4f7fc ;
}
.contact h1{
    font-weight: bold;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
    align-content: center;
    padding-left: 70px;
    margin-left: 25px;
}
form label{
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    text-align: left;
    padding-left: 1px;    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
    display: block;
    margin-bottom: 10px;
}
form input{
    height: 50px;
    width: 500px;
    padding: 20px 32px;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: black;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgba(214, 221, 237, 1);
}
form textarea{
    height: 100px;
    width: 500px;
    padding: 20px 32px;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color:black;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgba(214, 221, 237, 1);
    resize: none;
}
    
form button{
    width: 85%;
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
      margin: 20 32 20 32;
    padding: 15px 28px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

     form button:hover {
  background-color: purple;

}


.get-in-touch-btn a{

  text-decoration: none;
  color: #FFFFFF;
}

/* Footer Section */
footer{ 
  
  padding: 70px;
     text-align: center;   
  background-color: #ffffff;
  }

.footer-title h1{   
   width: 1200;
     font-size: 120px;  
        color: rgba(78, 71, 255, 1);   
      }
      
.footer-title p{
    font-size: 16px;
    color: rgb(89, 88, 102);
    line-height: 150%;
    letter-spacing: 0%;
    margin: 0;
}
      .footer-nav{
           margin: 0;
    padding: 20px 420px ;
    display: flex;
    text-align: center;
    align-content: center;
    position: absolute;
    gap: 50px;
      }

.footer-nav a{
    text-decoration: none;
    color: rgb(15, 15, 16);
}
.footer-nav a:hover{
    color: rgb(20, 9, 213);
}